<app-Loading *ngIf="loading"></app-Loading>
<div class="container d-flex justify-content-center align-items-center">

  <div class="row">
    <mat-card class="col-md-12 p-4 my-2" fxLayout="column" fxLayoutAlign="center center">
      <h4 class="text-center m-0 p-0">
        <i class="fa-solid fa-hotel" style="color: #003b95;"></i> Bienvenido <b>{{authUser?.name ?? ''}}, </b>
        a la aplicación de Reservación de Espacios.
      </h4>
    </mat-card>

    <mat-card class="col-md-12 p-4 my-2" fxLayout="column" fxLayoutAlign="center center">
      <div class="row">
        <div class="col-md-12 mb-2">
          <h4 class="text-center color-g">
            <i class="fa-solid fa-hotel"></i>
            Espacios Existentes
          </h4>
        </div>

        <div class="col-md-12 mb-2 d-flex flex-row-reverse">
          <button type="submit" class="btn btn-primary" (click)="showDetalle(null, 'create')">
            <i class="fa-solid fa-circle-plus"></i> Nuevo Espacio 
          </button>
        </div>

        <div class="col-md-12 table-responsive p-0" >
          <table class="table table-sm table-bordered table-striped table-hover align-middle shadow text-center table-hover">
            <thead>
              <tr>
                <th class="color-g">Nombre</th>
                <th class="color-g">Descripción</th>
                <th class="color-g">Capacidad</th>
                <th class="color-g">Horarios</th>
                <th class="color-g">Fotos</th>
                <th class="color-g">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!dataSource?.data?.length">
                <td colspan="5" class="text-center">No hay espacios disponibles</td>
              </tr>
              <tr *ngFor="let element of dataSource?.data">
                <td>{{ element.name }}</td>
                <td style="max-width: 300px;">
                  <p>{{ element.description }}</p>
                </td>
                <td>{{ element.capacity }}</td>
                <td style="width: 250px;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-2" *ngFor="let schedule of decodeSchedules(element.schedules)">
                      <div class="d-flex flex-column">
                        <span><strong class="color-g"><i class="fa-regular fa-calendar-days"></i> Fecha:</strong> {{ schedule.date | date: 'yyyy-MM-dd' }}</span>
                        <span class="">
                          <strong class="color-g"><i class="fa-solid fa-clock color-g"></i> Inicio:</strong> {{ schedule.startTime }} |
                          <strong class="color-g"><i class="fa-solid fa-clock color-g"></i> Fin:</strong> {{ schedule.endTime }}
                        </span>
                      </div>
                    </li>
                  </ul>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" (click)="showPhotos(element.photos)">
                    Ver
                  </button>
                </td>
                <td>
                  <button class="btn btn-sm btn-outline-info btn-sm m-1" (click)="showDetalle(element, 'edit')">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button class="btn btn-outline-danger btn-sm m-1" (click)="showDetalle(element, 'delete')">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </mat-card>

  </div>


</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-body">
        <div *ngIf="photosSpace?.length > 0; else noImages">

          <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let item of photosSpace; let i = index" [class.active]="i === 0">
                  <div class="d-flex justify-content-center align-items-center" style="position: relative; height: 400px">
                   <img [ngSrc]="item" class="d-block mx-auto rounded" alt="Image" loading="lazy" [fill]="true"
                    style="max-width: 400px !important; max-height: 400px !important;">
                  </div>
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev"
              style="color: #003b95;">
              <span class="fas fa-chevron-left" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next"
              style="color: #003b95;">
              <span class="fas fa-chevron-right" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <ng-template #noImages>
          <h4 class="text-center">
            Sin Imágenes
          </h4>
        </ng-template>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>