<div class="container-fluid ">
  <div class="row w-100">
    <div class="col-md-12 d-flex justify-content-center align-items-center p-5" style="min-height: 100vh;">
      <mat-card class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <mat-tab-group dynamicHeight>
          <mat-tab label="Inicio de Sesion" [routerLink]="['/login']">
           <app-login></app-login>
          </mat-tab>
          <mat-tab label="Registro" [routerLink]="['/register']">
            <app-register></app-register>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>