<app-Loading *ngIf="loading"></app-Loading>
<div class="container d-flex justify-content-center align-items-center">

  <div class="row">
    <mat-card class="col-md-12 p-4 my-2" fxLayout="column" fxLayoutAlign="center center">
      <h4 class="text-center m-0 p-0">
        <i class="fa-solid fa-hotel" style="color: #003b95;"></i> Bienvenido <b>{{authUser?.name ?? ''}}, </b>
        a la aplicación de Reservación de Espacios.
      </h4>
    </mat-card>

    <mat-card class="col-md-12 p-4 my-2" fxLayout="column" fxLayoutAlign="center center">
      <div class="row">
        <div class="col-md-12 mb-2">
          <full-calendar [options]="calendarOptions"></full-calendar>
        </div>

      </div>


    </mat-card>

  </div>


</div>