/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background: linear-gradient(135deg, #f06, #4a90e2); */
  background: #ffffff;
  /* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.78) 100%); */
  /* background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgb(0, 48, 206) 100%); */
  /* background: #003b95; */
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 1%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.snackbar-success,
.snackbar-error {
  --mat-snack-bar-button-color: white;

  .mat-mdc-snack-bar-action {
    background-color: rgba(white, 0.2);
  }
}

.snackbar-success {
  --mdc-snackbar-container-color: #4caf50;

}

.snackbar-error {
  --mdc-snackbar-container-color: #f44336;
}

table {
  border-radius: 20px;
  overflow: hidden;
}

.mat-mdc-card{
  background: #fff !important;
}

